/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --heading_text_clr: #111;
  --para_text_color: #666;
  --theme_clr: #00b894;
  --border: 2px solid #00b894;
  --border_bottom: 1px solid #2d2e2f;

  --h1_font_size: 48px;
  --h2_font_size: 32px;
  --para_font_size: 16px;
  --para_font_size_small: 14px;

  --font_regular: 400;
  --font_med: 500;
  --font_sbold: 600;
  --font_bold: 700;

  --h1_line_h: 40px;
  --h2_line_h: 30px;
  --para_line_h: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body,
html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
/* body {
  background: rgb(240, 219, 219);
} */

h1 {
  font-size: var(--h1_font_size);
  color: var(--heading_text_clr);
  line-height: var(--h1_line_h);
  font-weight: var(--font_bold);
}

h2 {
  font-size: var(--h2_font_size);
  font-weight: var(--font_med);
  line-height: var(--h2_line_h);
  color: var(--heading_text_clr);
}

p {
  font-size: var(--para_font_size);
  color: var(--para_text_color);
  line-height: var(--para_line_h);
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}
h4 {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: var(--font_sbold);
}
a.btn {
  padding: 20px 30px;
  text-transform: uppercase;
  border: var(--border);
  background: var(--theme_clr);
  color: var(--heading_text_clr);
}
span.company_name {
  color: var(--theme_clr);
  font-weight: var(--font_bold);
}

/* =====Header area CSS ====== */

/* header top */

.header_top {
  border-bottom: var(--border_bottom);
}
/* =====Header area CSS ====== */

/* =====Home Area CSS ===== */
.home_area {
  position: relative;
}
.home_content {
  position: relative;
}
.content {
  position: absolute;
  top: 120px;
  left: 0;
}

/* =====Home Area CSS ===== */
